body {
    margin: 0px;
}

.container img {
    margin: 0px 180;
    

}
.header-logo {
    margin-top: 18px;
    margin-right: 0px;
}
.nav
{
    margin-left: 200px;
    margin-top: 0px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;

        color: #ffa000;
  
}

.header {
    position: absolute;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(240.12deg, rgba(0, 194, 255, 0.8) 18.07%, rgba(255, 0, 214, 0.81) 88.79%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    

}


.cart {

 margin-left: 600px;
 margin-right: 600px;
 margin-top: 10px;
 

}

.h1 {
    
    font-weight: 800;
    font-size: 60px;
    line-height: 25px;
    font-family: "arial black"
    padding: 0px;
    white-space: nowrap;
    text-align: center;
    margin-top: 220px;
    margin-right: 600px;
    margin-left: 370px;
    
}

.cart2
{

    margin-right: 200px;
    margin-top: 4px;
    margin-left: 10px;
   
}

.cart3
{
 margin-left: 101px;
 margin-top: -95px;

 
}
.h2 {
    color: blue;
    font-family: "Montserrat"
    line-height: 29px;
    font-weight: 800;
    font-size: 26.5px;
    color: blue
   

    
    
    
    
    text-align: center;
    margin-top: 175px;
    margin-right: 600px;
    margin-left: 10px;
    
    
}

.ot  
{
    font-size: 30px;
    font-weight: bold;
    margin-top: -40px;
    margin-left: 1250px
    
}

.stars
{ 
    color: yellow;
    font-size: 40px;
    margin-left: 1055px;
    margin-top: -50px
    
    
    
}
.nav {
  
    margin-top: -75px;
    font-weight: bold;
    font-size: 30px;
}
.nav2
{
    margin-left: 120px;
    margin-top: -35px;
}

.bt
{
    padding: 15px;
    margin-left: 1300px;
    margin-top: -50px;

}

.header2 {
    position: absolute;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(240.12deg, rgba(0, 194, 255, 0.8) 18.07%, rgba(255, 0, 214, 0.81) 88.79%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    

}

.back1
{
    margin-left: 145px;
    margin-top: 40px;
    padding: 0px;
}
.back2
{
    margin-left: 0px;
    margin-top: 20px;
    padding: 0px;
}
.back3
{
    margin-left: 0px;
    margin-top: 20px;
    padding: 0px;
}
.back4
{
    margin-left: 0px;
    margin-top: 20px;
    padding: 0px;
}
.text1
{
    color: black;
    font-family: "Montserrat"
    line-height: 29px;
    font-weight: 800;
    font-size: 27px;
    color: blue
   
    left: 50%;
    
    
    
    
    text-align: center;
    margin-top: 40px;
    
    margin-left: 8px;
    
    padding: 0px;
}
.btn1
{
    padding: 0px;
    margin-right: 800px;
    margin-top: -15px;
    white-space: nowrap;
}
.btn2
{
    padding: 0px;
    margin-right: 800px;
    margin-top: -15px;
    white-space: nowrap;
}
.btn3
{
    padding: 0px;
    margin-right: 800px;
    margin-top: -15px;
    white-space: nowrap;
}
.btn4
{
    padding: 0px;
    margin-right: 800px;
    margin-top: -15px;
    white-space: nowrap;
}
.lbl
{
    font-weight: bold;
    padding: 20px;
}
.prev
{
    margin-left: 220px;
    margin-top: 30px;
}
.error
{
    margin-top: -60px;
    margin-left: 520px;
}
.next 
{
    margin-left: 820px;
    margin-top: -105px;

}
.cart4
{
    margin-left: -135px;
    margin-top: -30px;
}
.cart5
{
    margin-top: -95px;
    margin-left: -34px; 
}
.text2
{
    color: black;
    font-family: "Montserrat"
    line-height: 29px;
    font-weight: 800;
    font-size: 53px;
    color: blue
   
    left: 50%;
    
    
    
    
    text-align: center;
    margin-top: 40px;
    
    margin-left: 8px;
    
    padding: 0px;
}
.prev1
{
    margin-left: 220px;
    margin-top: 30px;
}
.next1
{
    margin-left: 820px;
    margin-top: -105px;

}
.back5
{
    margin-left: 145px;
    margin-top: 40px;
    padding: 0px;
}
.back6
{
    margin-left: 0px;
    margin-top: 20px;
    padding: 0px;
}
.back7
{
    margin-left: 0px;
    margin-top: 20px;
    padding: 0px;
}
.back8
{
    margin-left: 0px;
    margin-top: 20px;
    padding: 0px;
}
.back9
{
    margin-left: 145px;
    margin-top: 40px;
    padding: 0px;
}
.back10
{
    margin-left: 0px;
    margin-top: 20px;
    padding: 0px;
}
.back11
{
    margin-left: 0px;
    margin-top: 20px;
    padding: 0px;
}
.back12
{
    margin-left: 0px;
    margin-top: 20px;
    padding: 0px;
}
.prev2
{
    margin-left: 220px;
    margin-top: 30px;
}
.cart6
{
    margin-left: -135px;
    margin-top: -29px;
}
.cart7
{
    margin-top: -94px;
    margin-left: -34px; 
}
.mainpage
{
    margin-top: -700px;
    margin-left: -100px; 
   
}